<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% extends "layout.html" %} {% load static from staticfiles %} {% block body_content %}
	<div class="bounds circle--page">
		<div class="circle--page--header circle--fluid">
			<div class="circle--fluid--cell circle--fluid--primary">
				<h2>Projects</h2>
			</div>
			<div class="circle--fluid--cell circle--fluid--secondary">
				<a class="button button-primary icon-on-left" href="project_new.html"><svg class="add" style="enable-background:new 0 0 13 13;" version="1.1" viewbox="0 0 13 13" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
				<polygon points="7,6 7,0 6,0 6,6 0,6 0,7 6,7 6,13 7,13 7,7 13,7 13,6"></polygon></svg> New Project</a>
			</div>
		</div>
		<div class="grid-25">
			<div class="circle--filter circle--secondary--module">
				<h4>Project Needs</h4>
				<ul class="circle--filter--list">
					<li>
						<a class="selected">All Needs</a>
					</li>
					<li>
						<a>Android Developer</a>
					</li>
					<li>
						<a>Designer</a>
					</li>
					<li>
						<a>Java Developer</a>
					</li>
					<li>
						<a>PHP Developer</a>
					</li>
					<li>
						<a>Python Developer</a>
					</li>
					<li>
						<a>Rails Developer</a>
					</li>
					<li>
						<a>WordPress Developer</a>
					</li>
					<li>
						<a>iOS Developer</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="grid-70 grid-push-5">
			<table class="u-full-width circle--table">
				<thead>
					<tr>
						<th>Project Title</th>
						<th class="circle--cell--right">Project Needs</th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable-row" data-href="project.html">
						<td>
							<h3>Invoice Delivery Tool</h3>
						</td>
						<td class="circle--cell--right"><span class="secondary-label">Rails Developer</span></td>
					</tr>
					<tr class="clickable-row" data-href="project.html">
						<td>
							<h3>Twitter Client</h3>
						</td>
						<td class="circle--cell--right"><span class="secondary-label">Designer</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>{% endblock %}
</body>
</html>