{% extends "layout.html" %}
{% load bootstrap3 %}

{% block body_content %}
  <form enctype="multipart/form-data" method="POST">
  {% csrf_token %}

        <div class="circle--secondary--module">
        <h4>My Skills</h4>
        <ul class="circle--clone--list">
          <li>
{#            <input type="text" placeholder="Skill" />#}
            {{ formset }}
            <a class="circle--clone--add">Add Skill</a>
            <a class="circle--clone--remove">Remove</a>
          </li>
        </ul>
      </div>
  </form>
{% endblock %}