{% extends "layout.html" %}
{% load bootstrap3 %}

{% block body_content %}
  <form enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  {% if project.owner_id == user.id %}
    <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <a class="button" href="{% url "projects:edit_project" pk=project.pk %}">Edit Project</a>
        <a class="button button-text" href="{% url "projects:discard_project" pk=project.pk %}">Delete Project</a>
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--header">
        <h4 class="circle--article--section">Project</h4>
        <h1 class="circle--article--title">{{ project.name }}</h1>
{#        <p class="circle--article--byline">Project Owner: <a href="{% url "accounts:profile" pk=project.owner_id%}">{{ project.owner }}</a></p>#}
      </div>

      <div class="circle--article--body">
        <p>{{ project.description }}</p>
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>

        <ul class="circle--group--list">
          {% for position in positions %}
          <li>
            <h3>{{ position.title }}</h3>
            <p>{{ position.description }}</p>
              <input type="submit" class="button button-primary" value="Apply">
{#            <a class="button button-primary" href="{% url 'accounts:applications' pk=user.id %}">Apply</a>#}
          </li>
          {% endfor %}
          <li>
            <h3>Designer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a class="button button-primary button-inactive">Position Filled</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Needs</h3>
        <ul class="circle--link--list">
            {% for position in positions %}
                <li><a>{{ position.title }}</a></li>
            {% endfor %}
{#          <li><a>iOS Developer</a></li>#}
{#          <li><a>Designer</a></li>#}
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <p>{{ project.timeline }}</p>
      </div>

      <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        <p>{{ project.requirements }}</p>
      </div>

    </div>
  </div>
  </form>
{% endblock %}