{% extends "layout.html" %}
{% load bootstrap3 %}

{% block body_content %}
{#{% if project.owner_id == user.id %}#}
        <form method="POST">
    {% csrf_token %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
          <input type="submit" class="button button-primary" value="Save Project">
{#        <a class="button button-primary" href="{% url "projects:project" pk=project_form.pk %}">Save Changes</a>#}
        <a class="button button-text" href="{% url "projects:discard_project" pk=pk %}">Delete Project</a>
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--body">
{#        <input type="text" class="circle--input--h1" placeholder="Project Title" value={{ project_form.name }}>#}
{#        <textarea placeholder="Project description...">{{ project_form.description }}</textarea>#}
          {{ project_form.name }}
          {{ project_form.description }}
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>

        <ul class="circle--group--list circle--clone--list">
          <li>
{#            <input type="text" class="circle--input--h3" placeholder="Position Title" value="iOS Developer" />#}
{#            <textarea placeholder="Position description...">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>#}
            {{ position_formset }}
            <a class="circle--clone--add">Add Position</a>
            <a class="circle--clone--remove">Remove</a>
          </li>

{#          <li>#}
{#            <input type="text" class="circle--input--h3" placeholder="Position Title" value="Designer" />#}
{#            <textarea placeholder="Position description...">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>#}
{#            <a class="circle--clone--add">Add Position</a>#}
{#            <a class="circle--clone--remove">Remove</a>#}
{#          </li>#}
        </ul>

        <input type="submit" class="button button-primary" value="Save Project">

      </div>
    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
          {{ project_form.timeline }}
{#        <textarea placeholder="Time estimate" class="circle--textarea--input">{{ project_form.timeline }}</textarea>#}
      </div>

      <div class="circle--secondary--module">
        <h3>Application Requirements</h3>
        {{ project_form.requirements }}
      </div>

    </div>
  </div>
</form>
{#{% else %}#}
{#    "NOTHING HERE"#}
{#{% endif %}#}
{% endblock %}